-content_for :javascripts do
  = javascript_include_tag 'lib/chart.min.js'
  = javascript_include_tag 'core/dashboard.js'
.row
  .col-sm-6
    .card
      .card-header
        %h2 Users
      .card-block
        %canvas#myChart{width:"400", height:"400"}
  .col-sm-6
    .card
      .card-header
        %h2 Organizations
      .card-block
.row
  .col-sm-6
    .card
      .card-header
        %h2 Leads
      .card-block

%h1 Core::Dashboard#index
%p Find me in app/views/core/dashboard/index.html.haml
