.card {
  position: relative;
  background: $mat-white;
  margin-bottom: 30px;
  border-radius: 2px;
  &, .mini-charts-item{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
  .card-header {
    position: relative;
    display: block;
    padding: 26px 30px;
    border-radius: 2px 2px 0 0;
    h2 {
      margin: 0;
      line-height: 100%;
      font-size: 16px;
      font-weight: 400;
      small {
        display: block;
        margin-top: 8px;
        font-size: 12px;
        line-height: 160%;
      }
    }
    .actions {
      position: absolute;
      right: 10px;
      z-index: 2;
      top: 15px;
    }
    &[class*=bg-] h2 {
      color: $mat-white;
      small {
        color: rgba(255,255,255,.7);
      }
    }
    &[class*=bg-] .actions > li > a > i {
      color: $mat-white;
    }
    .btn-float {
      position: absolute!important;
      right: 50px;
      bottom: -22px;
      z-index: 1;
    }
  }
  .card-body {
    padding: 26px 30px 26px 30px;
  }
}

.actions {
  list-style: none;
  padding: 0;
  z-index: 3;
  margin: 0;
  > li {
    display: inline-block;
    vertical-align: baseline;
    > a {
      width: 30px;
      height: 30px;
      display: inline-block;
      padding-top: 5px;
      > i {
        color: $mat-black;
        font-size: 20px;
      }
    }
  }
}
