.bg-red {background-color: $mat-red;}
.bg-pink {background-color: $mat-pink;}
.bg-purple {background-color: $mat-purple;}
.bg-deep-purple {background-color: $mat-deep-purple;}
.bg-indigo {background-color: $mat-indigo;}
.bg-blue {background-color: $mat-blue;}
.bg-light-blue {background-color: $mat-light-blue;}
.bg-cyan {background-color: $mat-cyan;}
.bg-teal {background-color: $mat-teal;}
.bg-green {background-color: $mat-green;}
.bg-light-green {background-color: $mat-light-green;}
.bg-lime {background-color: $mat-lime;}
.bg-yellow {background-color: $mat-yellow;}
.bg-amber {background-color: $mat-amber;}
.bg-orange {background-color: $mat-orange;}
.bg-deep-orange {background-color: $mat-deep-orange;}
.bg-brown {background-color: $mat-brown;}
.bg-gray {background-color: $mat-gray;}
.bg-blue-gray {background-color: $mat-blue-gray;}
.bg-black {background-color: $mat-black;}
.bg-white {background-color: $mat-white;}
/*** Flat Colors ***/
.bg-turquoise{background-color: $flat-turquoise;}
.bg-emerald{background-color: $flat-emerald;}
.bg-green-sea{background-color: $flat-green-sea;}
.bg-nephritis{background-color: $flat-nephritis;}
.bg-peter-river{background-color: $flat-peter-river;}
.bg-belize-hole{background-color: $flat-belize-hole;}
.bg-amethyst{background-color: $flat-amethyst;}
.bg-wisteria{background-color: $flat-wisteria;}
.bg-wet-asphalt{background-color: $flat-wet-asphalt;}
.bg-midnight-blue{background-color: $flat-midnight-blue;}
.bg-sun-flower{background-color: $flat-sun-flower;}
.bg-carrot{background-color: $flat-carrot;}
.bg-pumpkin{background-color: $flat-pumpkin;}
.bg-alizarin{background-color: $flat-alizarin;}
.bg-pomegrante{background-color: $flat-pomegrante;}
.bg-flat-orange{background-color: $flat-orange;}
.bg-silver{background-color: $flat-silver;}
.bg-concrete{background-color: $flat-concrete;}
/*** Defaults ***/
.bg-default{background-color: $gray;}
