//== Colors
//
$mat-red:                #F44336;
$mat-pink:               #E91E63;
$mat-purple:             #9C27B0;
$mat-deep-purple:        #673AB7;
$mat-indigo:             #3F51B5;
$mat-blue:               #2196F3;
$mat-light-blue:         #03A9F4;
$mat-cyan:               #00BCD4;
$mat-teal:               #009688;
$mat-green:              #4CAF50;
$mat-light-green:        #8BC34A;
$mat-lime:               #CDDC39;
$mat-yellow:             #FFEB3B;
$mat-amber:              #FFC107;
$mat-orange:             #FF9800;
$mat-deep-orange:        #FF5722;
$mat-brown:              #795548;
$mat-gray:               #9E9E9E;
$mat-blue-gray:          #607D8B;
$mat-black:              #000000;
$mat-white:              #fff;
$flat-turquoise:         #1abc9c;
$flat-emerald:           #2ecc71;
$flat-green-sea:         #16a085;
$flat-nephritis:         #27ae60;
$flat-peter-river:       #3498db;
$flat-belize-hole:       #2980b9;
$flat-amethyst:          #9b59b6;
$flat-wisteria:          #8e44ad;
$flat-wet-asphalt:       #34495e;
$flat-midnight-blue:     #2c3e50;
$flat-sun-flower:        #f1c40f;
$flat-carrot:            #e67e22;
$flat-orange:            #f39c12;
$flat-pumpkin:           #d35400;
$flat-alizarin:          #e74c3c;
$flat-pomegrante:        #c0392b;
$flat-clouds:            #ecf0f1;
$flat-silver:            #bdc3c7;
$flat-concrete:          #95a5a6;
$flat-asbestos:          #7f8c8d;
