@import "sidebar";
@import "cards";

.translation_missing {
  color: $brand-danger;
}

.required .field_with_errors > label,
.required > label {
  &:before{
    font-family: FontAwesome;
    font-size: 10px;
    position: relative;
    right: 3px;
    bottom: 3px;
    content: '\f069';
    color: $brand-danger;
  }
}

body.default {
  padding-top: 70px;
  main {
    @extend .col-sm-9;
    @extend .col-sm-offset-3;
    @extend .col-md-10;
    @extend .col-md-offset-2;
    padding: 20px;
  }
}
