-content_for :javascripts do
  = javascript_include_tag 'lib/dataTables'
.card
  .card-header
    %p.lead= t('views.crm/contacts.index.title')
    .card-actions
      = link_to new_crm_contact_path, class:'btn btn-default' do
        %i.fa.fa-plus
  .card-block
    %table.table.table-striped.table-bordered.ajax-data-table{width:'100%', cellspacing:'0', data:{source: crm_contacts_path(format: :json)}}
      %thead
        %tr
          %th=t('activerecord.attributes.crm/contact.number')
          %th=t('activerecord.attributes.core/person.first_name')
          %th=t('activerecord.attributes.core/person.last_name')
          %th=t('activerecord.attributes.core/person.email')
      %tbody
