.card {
  position: relative;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 2px;
  //min-height: 550px;
  .card-header {
    position: relative;
    display: block;
    padding: 26px 30px 10px 30px;
    border-radius: 2px 2px 0 0;
  }

  .card-actions {
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 15px;
    > li {
      display: inline-block;
      vertical-align: baseline;

      > a {
        width: 30px;
        height: 30px;
        display: inline-block;
        padding-top: 5px;
      }
    }
  }
  .card-block {
    padding: 0px 30px 26px 30px;
  }
}
